<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.clarify.oneidentity">

    <application
        android:name=".data.AppDelegate"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity">
        </activity>
        <activity android:name=".activity.KYCSelfieActivity">
        </activity>
        <activity android:name=".activity.KYCIdentityDocumentActivity">
        </activity>
        <activity android:name=".activity.KYCVerificationResultActivity">
        </activity>
        <activity android:name=".activity.DISelfieActivity">
        </activity>
        <activity android:name=".activity.DIIdentityDocumentActivity">
        </activity>
        <activity android:name=".activity.DIReviewVerificationResultActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.ConnectionActivity">
        </activity>
        <activity android:name=".activity.CreateProofOfferActivity">
        </activity>
        <activity android:name=".activity.MessageActivity">
        </activity>
        <activity android:name=".activity.GenericDetailActivity">
        </activity>
        <activity android:name=".activity.CredentialActivity">
        </activity>
        <activity android:name=".activity.MyEndpointDIDActivity">
        </activity>
        <activity android:name=".activity.DIDActivity">
        </activity>
        <activity android:name=".activity.ProofActivity">
        </activity>
    </application>

</manifest>